@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bedfe8;
}

.accordion{
    max-width: 800px;
}

.accordion .contentBx
{
    position: relative;
    /* top-bottom right-left */
    margin: 10px 20px;  
}

.accordion .contentBx .label
{
    position: relative;
    padding: 10px;
    background-color: #2694af;
    color: #fff;
    cursor: pointer;
}

.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top:20%;
    right: 20px;
    transform: translate(-50%);
    font-size: 1.5em;
}

.accordion .contentBx .label.active::before
{
    content: '-';
    position: absolute;
    top:20%;
    right: 20px;
    transform: translate(-50%);
    font-size: 1.5em;
}

.accordion .contentBx .content
{
    /* padding: 10px; */
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx .label.active + .content
{
    height: auto;
    padding: 10px;
}