body{
    font-family: Helvetica, Arial;
    background-color: #21262c;
    color: lavender;
}

.container{
    /* to position div horizontally center margin: 0 auto */
    width: 500px;
    height: 500px;
    margin: auto;
    text-align: center;    
    
    /* to position div vertically center - margin: auto  not margin: 0 auto */
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: solid teal;

    /* to align content inside div */
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.newClass{
    color:blue;
}

/* .newContainerClass{
    border: solid blue;
} */

input[type="button"]{
    background-color: teal;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 1px solid;
    border-color: teal;
    border-radius: 15px;    
    /* padding: 10px; */
    font-size: 20px;
    outline:none;
}

input[type="button"]:hover{
    background-color: aqua;
    color: black;
    
}