*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f5f5;    
}

.container-menu .menu #all:hover,
.container-menu .menu #breakfast:hover,
.container-menu .menu #lunch:hover,
.container-menu .menu #shakes:hover{
    cursor: pointer;
    color: gray;
}

/* .container-menu .menu:hover{
    color: gray;
    /* cursor: pointer; */
/* }  */

.container {
    width: 1000px;
    height: 100vh;
    /* background-color: blue; */
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;     */
    padding-left: 40px;
}

.container-menu{
    width: 800px;
    margin: 0 auto;
}

.container-menu .menu{
    display: flex;
    margin: 0 auto;
    padding: 40px;
    justify-content: space-between;    
}

.container .menu{
    display: flex;
    margin: 0 auto;
    padding: 40px;
    justify-content: space-between;    
}

.container .menu .menu-list
{
    display: inline-block;    
    width: 200px;
}

.container .display-list {
    /* background-color: blue; */
    width:380px;
    display: inline-block;
    /* padding-left: 2px; */
    margin-right: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px -20px rgb(0 0 0 / 25%);
    border-radius: 15px;
}

.container .display-list .title-price .title-price-header
{
    display: flex;
    padding-left: 4px;
    justify-content: space-between;
    padding-right: 40px;
    text-transform: capitalize;
}

.container .display-list .title-price .description
{
    padding-left: 4px;
}

.container .display-card
{
    /* margin-bottom: 26px; */
}

img
{
    width: 80px;
    height: 80px;
    float: left;
}

h2{
    font-size: 14px;
}